*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: linear-gradient(to right, purple, Orange);
    font-family: sans-serif;
    border: 1px solid Orange;
    transition: all 0.3s ease;
}


.logo { 
    color: rgb(0, 255, 255);
    font-size: 25px;
    font-weight: 1000;
    letter-spacing: 1px;   
    flex-basis: 20%;
}

nav-links{
    display: flex;
    background-color: Red;
    
    list-style: none;
    flex: 1;
    display: inline-block;
    text-align: right;
}