*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: linear-gradient(to right, purple, Orange);
    font-family: sans-serif;
    border: 1px solid Orange;
    transition: all 0.3s ease;
}


.logo { 
    color: rgb(0, 255, 255);
    font-size: 25px;
    font-weight: 1000;
    letter-spacing: 1px;   
    flex-basis: 20%;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.nav-links li{
    list-style: none;
  
}

.nav-links a{
    color: Blue;
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    transition: color 0.3s ease;color: 
}

.nav-links li a:hover {
    color: White;  
}

.nav-links-button{
    display: none;
}

.nav-links-button div {
    width: 25px;
    height: 3px;
    background-color: rgb(229, 255, 229);
    margin: 5px;
    
}

@media screen and (max-width)